@import url(/static/zoom.css);
/*
@import url(http://fonts.googleapis.com/css?family=Ruslan+Display&subset=cyrillic);
@import url(http://fonts.googleapis.com/css?family=Bad+Script&subset=cyrillic);
*/
@import url(http://fonts.googleapis.com/css?family=Chango&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Neucha&subset=cyrillic);

#menu {
    padding-left: 20px;
    position: fixed;
    font-family: 'Neucha';
    font-size: 20px;
}
.hashtag {
    /*
    color: grey;
    */
}
.ads {
    margin-top: 40px;
    /*
    border: 1px solid #f00;
    */
}
.ad {
    margin: 0 auto;
    text-align: center;
}
#menu .active {
    color: red;
}
.radio-control .active {
    color: red;
}
.tags, .admin-panel {
    font-family: 'Neucha';
    font-size: 16px;
    text-align: right;
}
body {
    padding-top: 10px; /* 60px to make the container go all the way to the bottom of the topbar */
}
.datepub {
    font: 10px sans-serif;
    text-align: right;
}
.footer {
    padding-top: 60px;
    padding-bottom: 10px;
    text-align: center;
}
.comments {
    /*
    text-align: center;
    */
}
.comment_form {
    text-align: center;
    /*
    margin: 0 auto;
    width: 900px;
    border: 1px;
    border-color: #ccc;
    border-style: solid;
    */
}
.container {
    margin: 0 auto;
    /*
    border: 1px;
    border-color: #ccc;
    border-style: solid;
    */
    width: 900px;
}
.post {
    border: 2px;
    border-color: #eee;
    border-style: solid;
    border-radius: 50px;
    /*margin: 25px;*/
    margin-bottom: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.videos {
    text-align: center;
    padding-top: 20px;
}
.video_title {
    font: bold 14px sans-serif;
}
.video_descr {
    font: 10px sans-serif;
}
.audio_info {
    font: 10px sans-serif;
}
.social {
    text-align: center;
}
.social-main {
    text-align: right;
    margin-top: -10px;
}
.image {
    text-align: center;
    padding: 10px;
}
.audios {
    padding: 12px;
    text-align: center;
}
.counters {
    text-align: right;
}
.image_text {
    font: 10px sans-serif;
    /*color: white;*/
}
audio {
    background-color: white;
}
#toTop {
    position:fixed;
    z-index:9999;
    bottom:0px;
    left:0px;
    background: #EEE;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
    color: #666;
    text-decoration: none;
    height:50px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    font: bold 110% serif;
    border-radius: 5px;
}
#share42 {
    padding: 6px 6px 0;
    background: #FFF;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    right: 0;
    margin: -140px 10px 0 !important;
}
#share42:hover {background: #F6F6F6; border: 1px solid #D4D4D4; box-shadow: 0 0 5px #DDD;}
#share42 a {opacity: 0.5}
#share42:hover a {opacity: 0.7}
#share42 a:hover {opacity: 1}
#law { font: 80% serif; }
#radio-controller {
}
#radio-label {
    /*
    display: inline;
    */
    position: relative;
    top: 18px;
    right: 20px;
    font-family: 'Neucha';
    font-size: 20px;
}
#radio {
    position: relative;
    top: -10px;
    left: 140px;
    width: 100px;
}
#radio-container {
/*
    text-align: center;
    border: 1px solid #ccc;
    position: fixed;
    right: 10px;
    top: 20px;
    margin-top: 25px;
    border: 1px solid #f00;
*/
    z-index: 100;
}
#bear-image {
    /*
    border: 1px solid #ccc;
    position: fixed;
    right: 0px;
    top: 50px;
    width: 250px;
    z-index: -99;
    */
}
#main-header {
    text-align: center;
    padding-bottom: 10px;
    color: #666;
    font-family: 'Neucha';
    position: fixed;
    right: 0px;
    width: 250px;
}
a.main-header {
    text-decoration: none;
    color: #666;
    font-size: 20px;
}
.centerr
{
    /*
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: white;
    z-index: 100;

    height: 400px;
    margin-top: -200px;

    width: 600px;
    margin-left: -300px;
    */
    text-align: center;
    font-family: 'Neucha';
}
