{% extends 'blog/base.html' %}

{% load comments %}

{% block title %}
    {% if post.title %}
        {{ post.title }} - {{ block.super }}
    {% elif post.content %}
        {{ block.super }} - {{ post.content|removetags:"br"|safe|truncatewords:5 }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block keywords %}
    {% for tag in post.tags.all %}{{ tag }}, {% empty %}{{ block.super }}{% endfor %}
{% endblock %}

{% block description %}
    {% if post.content %}{{ post.content|removetags:"br"|safe|truncatewords:15 }}
    {% else %}{{ block.super }}
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'blog/post_form.html' %}

    <div class='comments'>
        {% render_comment_list for post %}
    </div>
    <div class='comment_form'>
        {% render_comment_form for post %}
    </div>
{% endblock %}
