{% load post_tags %}
<div class="post">
    {% if post.title %}
        <h2>{{post.title}}</h2>
    {% endif %}

    {% if object_list %}
    <div class="post_content" onClick="javascript: location.href='{{ post.get_absolute_url }}';">
    {% else %}
    <div class="post_content">
    {% endif %}
        <p>{{ post.content|hashes_to_links|safe|linebreaks}}</p>
        <div class="images">
            {% for image in post.images.all %}
            <div class=image>
                <img src="/images/{{ image.id }}.jpg" alt="{{ image.text }}"/>
            </div>
            {% empty %}
                <!-- Нет изображений -->
            {% endfor %}
        </div>
    </div>
    <div class="videos">
        {% for video in post.videos.all %}
            {{ video.get_html|safe }}
        {% empty %}
            <!-- Нет видеозаписей -->
        {% endfor %}
    </div>
    <div class="audios">
        {% for audio in post.audios.all %}
            <div class=audio>
                <audio controls src="/music/{{ audio.id }}.mp3" preload=none></audio>
                <div class=audio_info>
                {{ audio.artist }} - {{ audio.title }}
                </div>
            </div>
        {% empty %}
            <!-- Нет аудиозаписей -->
        {% endfor %}
    </div>

    {% if object_list %}
    <div class=datepub><a href="{{ post.get_absolute_url }}">{{ post.datetime }}</a></div>
    {% else %}
    <p class=datepub>{{ post.datetime }}</p>
    {% endif %}

    <div class="tags">
        {% for tag in post.tags.all %}
        <span class=tag>
            <a href=/tag/{{ tag.get_url }}>{{ tag }}</a>
        </span>
        {% empty %}
            <!-- Нет ярлыков-->
        {% endfor %}
    </div>
    <div class="admin-panel">
        {% if user.is_authenticated %}
        <a href=/admin/blog/post/{{ post.id }}>редактировать</p></a>
        {% endif %}
    </div>
    <div class="social">
        <div id="vk_like_{{ post.id }}" style="display: inline"></div>
{% comment %}
        <a target="_blank" class="surfinbird__like_button" data-surf-config="{
            'url': 'http://www.mechanicalbear.ru/{{ post.id }}',
            'layout': 'common-gray',
            'width': '90',
            'height': '20'
            }" href="http://surfingbird.ru/share">Surf</a>
{% endcomment %}
        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ru"
            data-url="http://www.mechanicalbear.ru/{{ post.id }}"
            data-text="{{ post.content|striptags|escape|truncatewords:12 }}"
        >Твитнуть</a>

        <script type="text/javascript">
            update_vk(
                "{{ post.id }}",
                "{{ post.title }}",
                "{{ post.content|striptags|escape|truncatewords:12 }}",
                "{{ post.images.all.0.id }}"
            );
            update_twitter();
        </script>
{% comment %}
        <script type="text/javascript" charset="UTF-8" src="//surfingbird.ru/share/share.min.js"></script>
{% endcomment %}
    </div>
</div>
