<style>
.loader {
    background-image: url('/static/ajax-loader.gif');
    width: 400px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
}

.hidden {
    display: none;
}
</style>
<div id="posts">
    <div class="loader hidden"></div>
</div>
<a href=# onclick="get_posts(1)">MOAR!</a>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/jquery-jtemplates_uncompressed.js"></script>

<!-- Template content -->
<textarea id="template" style="display:none">
    {#foreach $T as post}
    <div class="post">
        <div class="post_content">
            {$T.post.fields.content}
            {#if $T.post.fields.images != ''}
                <div class="images">
                {#foreach $T.post.fields.images as image}
                    <div class=image>
                        <img src=/images/{$T.image.pk}.jpg alt="{$T.image.fields.text}"/>
                    </div>
                {#/for}
                </div>
            {#/if}
        </div>
        {#if $T.post.fields.videos != ''}
            <div class="videos">
            {#foreach $T.post.fields.videos as video}
                <div class=video>
                    <noindex>
                        <iframe src="{$T.video.fields.player}" width="640" height="480" frameborder="0" allowfullscreen></iframe>
                    </noindex>
                    <div class=video_title>{$T.video.fields.title}</div>
                    <div class=video_descr>{$T.video.fields.descr}</div>
                </div>
            {#/for}
            </div>
        {#/if}
        {#if $T.post.fields.audios != ''}
            <div class="audios">
            {#foreach $T.post.fields.audios as audio}
                <div class=audio>
                    <div class=audio_info>{$T.audio.fields.artist} - {$T.audio.fields.title}</div>
                </div>
            {#/for}
            </div>
        {#/if}
        <div class=datepub><a href="/{$T.post.pk}">{ $T.post.fields.datetime }</a></div>
    </div>
    {#/for}
</textarea>


<script>
$(function() {
    page = 0

    var container = $('#posts');
    var loader = $('.loader');
    var isLoading = false;
    
    get_posts(page);
    
    $(window).scroll(function(){
        if ($(window).scrollTop() + $(window).height() >= $(document).height() - 500) {
            if (window.isLoading == false) {
                //console.debug("loading...")
                loader.removeClass('hidden');
                get_posts(page);
            }
        }
    })

    function get_posts(page) {
        if (window.isLoading == true) return;
        window.isLoading = true;

        $.getJSON(
            '/api/get_posts/' + page,
            function(data) {
                //if (window.isLoading == true) return;

                //console.debug(page);

                old = container.html();
                container.setTemplateElement("template");
                container.processTemplate(data);
                loader.addClass('hidden');
                container.prepend(old);

                window.page = page + 1;

                window.isLoading = false;
                //console.debug("OK!")
            }
        );
    }
});
</script>
